@use "sass:meta";
@use "../" as native-font;
@use "../serif";

$name: 'hoefler-text';
$title: 'Hoefler Text';
$ref: 'https://www.cssfontstack.com/Hoefler-Text';
$fallback: serif.$name;
$font: native-font.add($name, meta.inspect((
  'Hoefler Text',
  'Baskerville Old Face',
  Garamond,
  'Times New Roman',
  var(--#{$fallback}),
)));
