@use "sass:meta";
@use "../" as native-font;
@use "../sans-serif";

$name: 'lucida-grande';
$title: 'Lucida Grande';
$ref: 'https://www.cssfontstack.com/Lucida-Grande';
$fallback: sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  'Lucida Grande',
  'Lucida Sans Unicode',
  'Lucida Sans',
  Geneva,
  Verdana,
  var(--#{$fallback}),
)));
