@use "sass:meta";
@use "../" as native-font;
@use "../sans-serif";

$name: 'impact';
$title: 'Impact';
$ref: 'https://www.cssfontstack.com/Impact';
$fallback: sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  Impact,
  Haettenschweiler,
  'Franklin Gothic Bold',
  'Charcoal',
  'Helvetica Inserat',
  'Bitstream Vera Sans Bold',
  'Arial Black',
  'Arial Bold',
  Gadget,
  var(--#{$fallback}),
)));
