@use "sass:meta";
@use "sass:map";

$names: (
  'color-emoji',
  'system-ui',
  'transitional',
  'old-style',
  'humanist',
  'geometric-humanist',
  'classical-humanist',
  'neo-grotesque',
  'monospace-slab-serif',
  'monospace-code',
  'industrial',
  'rounded-sans',
  'slab-serif',
  'antique',
  'didone',
  'handwritten',
);

$stacks: (
  'color-emoji': meta.inspect((
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
  )),

  'system-ui': meta.inspect((
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
  )),

  'transitional': meta.inspect((
    Charter,
    'Bitstream Charter',
    'Sitka Text',
    Cambria,
    serif,
  )),

  'old-style': meta.inspect((
    'Iowan Old Style',
    'Palatino Linotype',
    'URW Palladio L',
    P052,
    serif,
  )),

  'humanist': meta.inspect((
    Seravek,
    'Gill Sans Nova',
    Ubuntu,
    Calibri,
    'DejaVu Sans',
    source-sans-pro,
    sans-serif,
  )),

  'geometric-humanist': meta.inspect((
    Avenir,
    Montserrat,
    Corbel,
    'URW Gothic',
    source-sans-pro,
    sans-serif,
  )),

  'classical-humanist': meta.inspect((
    Optima,
    Candara,
    'Noto Sans',
    source-sans-pro,
    sans-serif,
  )),

  'neo-grotesque': meta.inspect((
    Inter,
    Roboto,
    'Helvetica Neue',
    'Arial Nova',
    'Nimbus Sans',
    Arial,
    sans-serif,
  )),

  'monospace-slab-serif': meta.inspect((
    'Nimbus Mono PS',
    'Courier New',
    monospace,
  )),

  'monospace-code': meta.inspect((
    ui-monospace,
    'Cascadia Code',
    'Source Code Pro',
    Menlo,
    Consolas,
    'DejaVu Sans Mono',
    monospace,
  )),

  'industrial': meta.inspect((
    Bahnschrift,
    'DIN Alternate',
    'Franklin Gothic Medium',
    'Nimbus Sans Narrow',
    sans-serif-condensed,
    sans-serif,
  )),

  'rounded-sans': meta.inspect((
    ui-rounded,
    'Hiragino Maru Gothic ProN',
    Quicksand,
    Comfortaa,
    Manjari,
    'Arial Rounded MT',
    'Arial Rounded MT Bold',
    Calibri,
    source-sans-pro,
    sans-serif,
  )),

  'slab-serif': meta.inspect((
    Rockwell,
    'Rockwell Nova',
    'Roboto Slab',
    'DejaVu Serif',
    'Sitka Small',
    serif,
  )),

  'antique': meta.inspect((
    Superclarendon,
    'Bookman Old Style',
    'URW Bookman',
    'URW Bookman L',
    'Georgia Pro',
    Georgia,
    serif,
  )),

  'didone': meta.inspect((
    Didot,
    'Bodoni MT',
    'Noto Serif Display',
    'URW Palladio L',
    P052,
    Sylfaen,
    serif,
  )),

  'handwritten': meta.inspect((
    'Segoe Print',
    'Bradley Hand',
    Chilanka,
    TSCu_Comic,
    casual,
    cursive,
  )),
);

@mixin variable($name, $font) {
  --#{$name}: #{$font};
}

@mixin variables($list: $names) {
  @include variable('color-emoji', map.get($stacks, 'color-emoji'));
  @each $name in $list {
    @include variable($name, map.get($stacks, $name));
  }
}

@mixin family($name) {
  font-family: var(--#{$name}), var(--color-emoji);
}

@mixin class($name) {
  .#{$name}{
    @include family(#{$name});
  }
}

@mixin classes($list: $names) {
  @each $name in $list {
    @include class($name);
  }
}

