@use "sass:meta";
@use "../" as native-font;
@use "../emoji";

$name: 'emojicon';
$title: 'emojicon';
$ref: 'https://stijndewitt.com/2024/01/02/emojicons-the-future-of-icons-on-the-web/';
$fallback: emoji.$name;
$font: native-font.add($name, meta.inspect((
  emojicon,
  var(--#{$fallback}),
)));
