@use "sass:meta";
@use "../" as native-font;
@use "../times-new-roman";

$name: 'goudy-old-style';
$title: 'Goudy Old Style';
$ref: 'https://www.cssfontstack.com/Goudy-Old-Style';
$fallback: times-new-roman.$name;
$font: native-font.add($name, meta.inspect((
  'Goudy Old Style',
  Garamond,
  'Big Caslon',
  var(--#{$fallback}),
)));
