@use "sass:meta";
@use "../" as native-font;
@use "../sans-serif";

$name: 'optima';
$title: 'Optima';
$ref: 'https://www.cssfontstack.com/Optima';
$fallback: sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  Optima,
  Segoe,
  'Segoe UI',
  Candara,
  Calibri,
  Arial,
  var(--#{$fallback}),
)));
