@use "sass:meta";
@use "../" as native-font;
@use "../sans-serif";

$name: 'sans-serif-condensed';
$title: 'Sans Serif Condensed';
$ref: '';
$fallback: sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  sans-serif-condensed,
  var(--#{$fallback}),
)));
