@use "sass:meta";
@use "../" as native-font;
@use "../arial";

$name: 'futura';
$title: 'Futura';
$ref: 'https://www.cssfontstack.com/Futura';
$fallback: arial.$name;
$font: native-font.add($name, meta.inspect((
  Futura,
  'Trebuchet MS',
  var(--#{$fallback}),
)));
