@use "sass:meta";
@use "../" as native-font;
@use "../sans-serif";

$name: 'ui-sans-serif';
$title: 'ui-sans-serif';
$ref: 'https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#ui-sans-serif';
$fallback: sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  ui-sans-serif,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Inter",
  "Noto Sans",
  "Liberation Sans",
  Tahoma,
  var(--#{$fallback}),
)));
