@use "sass:meta";
@use "../" as native-font;
@use "../sans-serif";

$name: 'sans-serif-nova';
$title: 'Sans Serif Nova';
$fallback: sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  'Helvetica Neue',
  'Arial Nova',
  'Nimbus Sans',
  var(--#{$fallback}),
)));
