@use "sass:meta";
@use "../" as native-font;
@use "../serif";

$name: 'bodoni-mt';
$title: 'Bodoni MT';
$ref: 'https://www.cssfontstack.com/Bodoni-MT';
$fallback: serif.$name;
$font: native-font.add($name, meta.inspect((
  'Bodoni MT',
  Didot,
  'Didot LT STD',
  'Hoefler Text',
  Garamond,
  'Times New Roman',
  var(--#{$fallback}),
)));
