@use "sass:meta";
@use "../" as native-font;
@use "../ui-monospace";

$name: 'monospace-code';
$title: 'Monospace Code';
$fallback: ui-monospace.$name;
$font: native-font.add($name, meta.inspect((
  var(--#{$fallback}),
)));
