@use "sass:meta";
@use "../" as native-font;
@use "../color-emoji" as ce;

$name: 'sans-serif';
$title: 'sans-serif';
$fallback: ce.$name;
$font: native-font.add($name, meta.inspect((
  'Helvetica Neue',
  'Arial Nova',
  'Nimbus Sans',
  Helvetica,
  Arial,
  sans-serif,
  var(--#{$fallback}),
)));
