@use "sass:meta";
@use "../" as native-font;
@use "../serif";

$name: 'garamond';
$title: 'Garamonf';
$ref: 'https://www.cssfontstack.com/Garamond';
$fallback: serif.$name;
$font: native-font.add($name, meta.inspect((
  Garamond,
  Baskerville,
  'Baskerville Old Face',
  'Hoefler Text',
  'Times New Roman',
  var(--#{$fallback}),
)));
