@use "sass:meta";
@use "../" as native-font;
@use "../sans-serif";

$name: 'century-gothic';
$title: 'Century Gothic';
$ref: 'https://www.cssfontstack.com/Century-Gothic';
$fallback: sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  'Century Gothic',
  CenturyGothic,
  AppleGothic,
  var(--#{$fallback}),
)));
