@use "sass:meta";
@use "../" as native-font;
@use "../serif";

$name: 'lucida-bright';
$title: 'Lucida Bright';
$ref: 'https://www.cssfontstack.com/Lucida-Bright';
$fallback: serif.$name;
$font: native-font.add($name, meta.inspect((
  'Lucida Bright',
  Georgia,
  var(--#{$fallback}),
)));
