@use "sass:meta";
@use "../" as native-font;
@use "../color-emoji";
@use "../emoji";

$name: 'magicon';
$title: 'Magicon';
$ref: 'https://npmjs.com/package/magicon';
$fallback: emoji.$name;
$font: native-font.add($name, meta.inspect((
  Magicon,
  var(--#{color-emoji.$name}),
  var(--#{$fallback}),
)));
