@use "sass:meta";
@use "../" as native-font;
@use "../sans-serif";

$name: 'candara';
$title: 'Candara';
$ref: 'https://www.cssfontstack.com/Candara';
$fallback: sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  Candara,
  Calibri,
  Segoe,
  'Segoe UI',
  Optima,
  Arial,
  var(--#{$fallback}),
)));
