@use "sass:meta";
@use "../" as native-font;
@use "../sans-serif";

$name: 'humanist';
$title: 'Humanist';
$ref: 'https://modernfontstacks.com/#humanist';
$fallback: sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  Seravek,
  'Gill Sans Nova',
  Ubuntu,
  Calibri,
  'DejaVu Sans',
  source-sans-pro,
  var(--#{$fallback}),
)));
