@use "sass:meta";
@use "../" as native-font;
@use "../serif";

$name: 'ui-serif';
$title: 'ui-serif';
$ref: 'https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#ui-serif';
$fallback: serif.$name;
$font: native-font.add($name, meta.inspect((
  ui-serif,
  'Iowan Old Style',
  'Sitka Text',
  'Cambria',
  'Gentium Plus',
  'Times New Roman',
  Times,
  Tinos,
  Georgia,
  var(--#{$fallback}),
)));
