@use "sass:meta";
@use "../" as native-font;
@use "../serif";

$name: 'georgia';
$title: 'Georgia';
$ref: 'https://www.cssfontstack.com/Georgia';
$fallback: serif.$name;
$font: native-font.add($name, meta.inspect((
  Georgia,
  'Times New Roman',
  var(--#{$fallback}),
)));
