@use "sass:meta";
@use "../" as native-font;
@use "../ui-sans-serif";

$name: 'system-ui';
$title: 'system-ui';
$ref: 'https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#system-ui';
$fallback: ui-sans-serif.$name;
$font: native-font.add($name, meta.inspect((
  system-ui,
  var(--#{$fallback}),
)));
