@use "sass:meta";
@use "../" as native-font;
@use "../serif";

$name: 'didot';
$title: 'Didot';
$ref: 'https://www.cssfontstack.com/Didot';
$fallback: serif.$name;
$font: native-font.add($name, meta.inspect((
  Didot,
  'Didot LT STD',
  'Hoefler Text',
  Garamond,
  'Times New Roman',
  var(--#{$fallback}),
)));
