@use "sass:meta";
@use "../" as native-font;
@use "../emoji";

$name: 'ui-emoji';
$title: 'ui-emoji';
$ref: '';
$fallback: emoji.$name;
$font: native-font.add($name, meta.inspect((
  var(--#{$fallback}),
)));
