@use "sass:meta";
@use "../" as native-font;
@use "../baskerville-old-face";

$name: 'baskerville';
$title: 'Baskerville';
$ref: 'https://www.cssfontstack.com/Baskerville';
$fallback: baskerville-old-face.$name;
$font: native-font.add($name, meta.inspect((
  Baskerville,
  var(--#{$fallback}),
)));
